html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;
}

#bg_img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.text_box {
  top: 50%;
  width: 100%;
  height: 20%;
  position: absolute;
  z-index: -100;
}

.img_container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

p {
  text-align: center;
  font-size: 40px;
}
.text {
  font-size: 40px;
}
#btn {
  top: 50%;
  width: 100%;
  height: 15%;
  background-color: cornflowerblue;
  position: absolute;
  z-index: 2;
}

.selection {
  width: 50%;
  height: 40%;
}

#sel_con {
  display: inline-flex;
  width: 100%;
  height: 40%;
  position: fixed;
  top: 50%;
  text-align: center;
  visibility: hidden;
}

#man {
  background-color: chartreuse;
}

#woman {
  background-color: darkcyan;
}

.selection > p {
  font-size: 40px;
  vertical-align: middle;
}
